.home__container {
	display: flex;
	gap: 30px;
	justify-content: center;
	> div {
		width: 45%;
	}

	.chart__total-details {
		display: flex;
		flex-direction: column;
		gap: 30px;
	}

	.recent__history {
	}

	.income {
		color: green;
		font-weight: 600;
		font-size: 28px;
	}

	.expense {
		color: red;
		font-weight: 600;
		font-size: 28px;
	}

	.balance {
		color: green;
		font-weight: 600;
		font-size: 28px;
	}

	.total__details {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		gap: 10px;

		> div {
			padding: 15px;
			display: flex;
			flex-direction: column;
			gap: 10px;
			justify-content: center;
			align-items: center;
			width: 250px;
			/* From https://css.glass */
			background: rgba(255, 255, 255, 0.38);
			border-radius: 16px;
			box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
			backdrop-filter: blur(14.4px);
			-webkit-backdrop-filter: blur(14.4px);
			border: 1px solid rgba(255, 255, 255, 0.45);
		}
	}
}
