.home__container {
	.content-wrapper-header {
		> div {
			width: 100%;
		}

		@media screen and (max-width: 610px) {
			img {
				display: none;
			}
		}
	}

	.income {
		color: #5bc75b;
	}

	.expense {
		color: red;
	}

	.balance {
		color: #5bc75b;
	}

	.content-wrapper-img {
		width: 186px;
		object-fit: cover;
		margin-top: -25px;
		object-position: center;
		@media screen and (max-width: 570px) {
			width: 110px;
		}
	}

	.status-button {
		cursor: default !important;
	}

	.summary__details {
		display: flex;
		justify-content: center;
		flex-direction: column;
		align-items: center;
		gap: 10px;
		> div {
			margin: 0;
		}
	}
}
